{% for field in form %}
{% load widget_tweaks %}

  <div class="form-group row">
    <label class="col-sm-3 col-form-label" for="{{ field.auto_id }}">
      {{ field.label }}
      {% for error in field.errors %}
        <small class="text-danger">{{ error }}</small>
      {% endfor %}
    </label>

    <div class="col-sm-9">
      {% if field.name == "subjects" %}
        <div class="form-check">
          <select name="subjects" class="form-control">
            {% for subject in field.field.queryset %}
                <option value="{{ subject.id }}">{{ subject.name }}</option>
            {% endfor %}
        </select>
          {{ field }}  
        </div>
      {% else %}
        {{ field|add_class:"form-control" }}
      {% endif %}

      {% if field.help_text %}
        <small>{{ field.help_text|safe }}</small>
      {% endif %}
    </div>
  </div>
{% endfor %}




